.page {
  width: 100%;
  min-width: 320px;
  max-width: 500px;
  margin: 3px auto;

  @media (min-width: $tablet) {
    max-width: 1000px;
  }

  @media (min-width: $desktop) {
    max-width: 1400px;
  }
}

@import "heder/heder.scss";

@import "link.scss";

@import "button.scss";

@import "breadcrumbs.scss";

@import "statistic-index/statistic.scss";

@import "advant-index/advantages.scss";

@import "news-index/news.scss";

@import "./reviews-index/reviews.scss";
